### Question 1

In [3]:
a = 0  

def b():     
    global a     
    a = c(a)  

def c(a):     
    return a + 2 

b()
b()
b()
a

6

1. In the execution, the first call is made to the function "b". 
2. In Function "b", first step states that the variable "a" as global. Then the next statement passes the variable "a" to the function "c" and the value of that function call is assigned to variable "a".
3. The Function "c" simply adds 2 to the value of "a" which it received as an argument. Here "a" is local variable to the "c". It simply return whatever value it received + 2
4. When the 2nd function call is made to "b", the value of a is 2 already as in the first execution, we had defined the value of a as global
5. So here, since "a" is global, its value gets added up by 2 everytime the function "b" is called as we are calling "c" and returning a+2.
6. We here have called the Function "b" three times and hence value of variable "a" will be 2+2+2 = 6

### Question 2

In [4]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File "+file_name+" not found.")

file_length('idterm.py')

File idterm.py not found.

### Question 3

In [3]:
class Marsupial:
    
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self,obj):
        self.pouch.append(obj)
    
    def pouch_contents(self):
        print(self.pouch)
        
class Kangaroo(Marsupial):

    def __init__(self,x=0,y=0):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return "I am a Kangaroo located at coordinates (%s , %s)"%(self.x,self.y)

    
m = Marsupial() 
m.put_in_pouch('doll') 
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents() 


k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll') 
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents() 

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0 , 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3 , 0)

### Question 4

In [5]:
def collatz(x):
    if(x==1):
        print(int(x))
    else:
        print(int(x))
        if(x%2==0):
            collatz(x/2)
        else:
            collatz(3*x+1)
            
collatz(1)

collatz(10)

1
10
5
16
8
4
2
1

### Question 5

In [7]:
global ans
def binary(n):
    ans=""
    if(n<2):
        ans = str(n)+ans
    else:
        ans = str(n%2)+ans
        binary(n//2)
    print(ans,end='')
    
binary(0)
print()
binary(1)
print()
binary(2)
print()
binary(3)
print()
binary(9)
print()

0
1
10
11
1001

### Question 6

In [8]:
import re
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    

    def __init__(self):
        HTMLParser.__init__(self)
        self.print_data = False
        self.tag_list = []
        self.tag_data = []
    
    def feed(self,file_name):
        file = open(file_name)
        contents = file.read()
        file.close()
        HTMLParser.feed(self,contents)
        self.get_heading_tags()
    
    def handle_starttag(self,tag,attr):
        if(len(tag)<3 and tag[0]=='h'):
            self.print_data = True
            self.tag_list.append(tag)

    def handle_data(self,data):
        if(self.print_data == True):
            self.print_data = False
            if(re.findall("\S",data)):
                self.tag_data.append(data)    
        
    def get_heading_tags(self):
        for i in range(len(self.tag_list)):
            indent_need = self.tag_list[i][-1]
            indent_need = int(indent_need)-1
            print('\t'*indent_need + self.tag_data[i])

            
            
a = HeadingParser()
a.feed('w3c.html')

W3C Mission
	Principles

### Question 7

In [9]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser

class URLCollector(HTMLParser):
    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http' and absolute!=self.url: # collect HTTP URLs
                            if(absolute not in self.links):
                                self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [10]:
def getUrl(url,depth,indent):
    content = urlopen(url).read().decode()
    urlFetch = URLCollector(url)
    urlFetch.feed(content)    
    urls = urlFetch.getLinks()
    return urls

In [11]:
urlVisited = set()
    
def webdir(url,depth,indent):
    global urlVisited
    print("\t"*indent + str(url))
    for i in range(depth):
        urlVisited.add(url)
        urls = getUrl(url,depth,indent)
        for link in urls:
            if link not in urlVisited:
                try:
                    webdir(link,depth-1,indent+1)
                except:
                    pass
                #print("\t"*indent + str(link))

webdir('http://reed.cs.depaul.edu/lperkovic/one.html',2,0)

http://reed.cs.depaul.edu/lperkovic/one.html
	http://reed.cs.depaul.edu/lperkovic/two.html
		http://reed.cs.depaul.edu/lperkovic/four.html
	http://reed.cs.depaul.edu/lperkovic/three.html
		http://reed.cs.depaul.edu/lperkovic/four.html

### Question 8

Question 8a = All the temperature data
>> SELECT Temperature FROM Climate

Question 8b = All the cities, but without repetition
>> SELECT DISTINCT(City) FROM Climate

Question 8c = All the records for India
>> SELECT * FROM Climate WHERE Country='India'

Question 8d = All the Fall records
>> SELECT * FROM Climate WHERE Season='Fall'

Question 8e = The city and country for which the average rainfall is between 200 and 400 millimeters
>> SELECT Climate2.City, Climate2.Country FROM (SELECT City, Country, AVG(Rainfall) AS Rainfall FROM Climate WHERE Rainfall BETWEEN 200 AND 400 GROUP BY City, Country) as Climate2

Question 8f = The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
>> SELECT city, country FROM Climate WHERE Season='Fall' AND temperature>20 ORDER BY Temperature

Question 8g = The total annual rainfall for Cairo.
>> SELECT sum(Rainfall) FROM Climate WHERE City = 'Cairo'

Question 8h = The total rainfall for each season.
>>  SELECT season, round(sum(Rainfall),2) FROM Climate GROUP BY Season

In [26]:
import sqlite3
conn = sqlite3.connect("WorldClimate.db")
cur = conn.cursor()

In [27]:
cur.execute("CREATE TABLE Climate (City text, Country text, Season text, Temperature float, Rainfall float)")

In [15]:
cur.execute("SELECT * FROM Climate")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [17]:
##### Question 8a = All the temperature data
cur.execute("SELECT Temperature FROM Climate");
a = ""
for record in cur:
    for vals in record:
        a += str(vals)+ ", "
print("Temperatures: " + a[:-2])

Temperatures: 24.8, 28.4, 27.9, 27.6, 4.2, 8.3, 15.7, 10.4, 13.6, 20.7, 27.7, 22.2

In [18]:
##### Question 8b = All the cities, but without repetition
cur.execute("SELECT DISTINCT(City) FROM Climate")
print("Distinct Cities: ")
for record in cur:
    for vals in record:
        print(vals)

Distinct Cities:
Mumbai
London
Cairo

In [19]:
##### Question 8c = All the records for India
cur.execute("SELECT * FROM Climate WHERE Country='India'")
print("All the records for India: ")
for record in cur:
    for vals in record:
        print(vals, end="\t")
    print()

All the records for India:
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0

In [20]:
##### Question 8d = All the Fall records
cur.execute("SELECT * FROM Climate WHERE Season='Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [21]:
##### Question 8e = The city and country for which the average rainfall is between 200 and 400 millimeters
cur.execute("SELECT Climate2.City, Climate2.Country FROM (SELECT City, Country, AVG(Rainfall) AS Rainfall FROM Climate WHERE Rainfall BETWEEN 200 AND 400 GROUP BY City, Country) as Climate2")
print("City & Country which has Average Rainfall between 200 & 400 are:")
for record in cur:
    for vals in record:
        print(vals, end="\t")
    print()

City & Country which has Average Rainfall between 200 & 400 are:
London	United Kingdom
Mumbai	India

In [22]:
##### Question 8f = The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cur.execute("SELECT city, country FROM Climate WHERE Season='Fall' AND temperature>20 ORDER BY Temperature")
print("City & Country which has Average Fall Temperature above 20 Degrees:")
for record in cur:
    for vals in record:
        print(vals, end="\t")
    print()

City & Country which has Average Fall Temperature above 20 Degrees:
Cairo	Egypt
Mumbai	India

In [23]:
##### Question 8g = The total annual rainfall for Cairo.
cur.execute("SELECT sum(Rainfall) FROM Climate WHERE City = 'Cairo'")
print("Total Rainfall for Cairo: ",end = "")
for i in cur:
    for val in i:
        print(val)

Total Rainfall for Cairo: 27.6

In [24]:
##### Question 8h = The total rainfall for each season.
cur.execute("SELECT season, round(sum(Rainfall),2) FROM Climate GROUP BY Season")
print("Total Rainfall for each season:")
for records in cur:
    for val in records:
        print(val, end="\t")
    print()

Total Rainfall for each season:
Fall	569.0
Spring	192.3
Summer	1706.5
Winter	230.1

### Question 9

In [25]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#Question 9a  = All words in UPPER
print("9A:\t",[x.upper() for x in words])

#Question 9b = All words in LOWER
print("9B:\t",[x.lower() for x in words])

#Question 9c = Length of all words
print("9C:\t",[len(x) for x in words])

#Question 9d = a list containing the UPPER, lower, length of the word
print("9D:\t",[[x.upper(),x.lower(),len(x)] for x in words])

#Question 9e = words which contain 4 or more characters
print("9E:\t",[x for x in words if len(x)>3])

9A:	 ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
9B:	 ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
9C:	 [3, 5, 5, 3, 5, 4, 3, 4, 3]
9D:	 [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
9E:	 ['quick', 'brown', 'jumps', 'over', 'lazy']